body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  font-size: 1.1em;
  font-family: 'Courier New', monospace, serif;
}
 
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
 margin: 0; 
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
} 

header {
  background-color: #111222;
  color: white;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-content: center;
}

section {
  padding: .5em;
}

#hero {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#video {
  background-color: #00a170;
  height: 5em;
  display:flex;
  flex-direction: column;
  align-items:center;
  align-content:center;
  justify-content:center;
  flex-wrap: wrap;
  padding: .5em;
}

#store {
  display: flex;
  flex-direction: row;
}

#video {
  display: flex;
  flex-direction: row;
}

#featureRequest {
  display: flex;
  flex-direction: row;
}

/*
input {
  margin-bottom: .5em;
}

button {
  background-color: #cdfbe4;
  border: none;
  border-radius: .5rem;
  padding: .2rem;
  opacity: 1;
  transition: 0.3s;
  color: black;
}

button:hover {
  opacity: .5;
  cursor: pointer;
}

button:focus {
  opacity: .5;
}
*/

footer {
  padding: .5em;
  font-size: .8em;
  text-align: center;
}
