body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  font-size: 1.1em;
  font-family: 'Courier New', monospace, serif;
}

a {
  color: white;
}

a:hover {
  color: #cdfbe4;
}
 
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
 margin: 0; 
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
} 

header {
  background-color: #111222;
  color: white;
  padding: .5em;
  display: flex;
  
  justify-content: center;
  align-content: center;
}

section {
  padding: .5em;
}

#hero {
  background-color: #00a170;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#hero h1 {
  font-size: 4rem;
  color: white;
}

#hero p {
  font-size: 2rem;
  color: white;
}

#store {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 1em;
  background-color: #111222;
}


#video {
  background-color: #00a170;
  /*height: 5em;
  display:flex;
  flex-direction: column;
  align-items:center;
  align-content:center;
  justify-content:center;
  flex-wrap: wrap;
  padding: .5em;*/
}
.video-responsive {
  width: 100%;
  max-width: 400px; /* adjust as needed */
  height: auto;     /* keeps proper portrait ratio */
  display: block;
  margin: 0 auto;   /* centers the video */
  padding: 20px 0;  /* optional spacing */
  border: 1px solid black;
  background-color: black;
}


#supportFeedback {
  display: flex;
  flex-direction: row;
  background-color: #111222;
}

#featureRequest {
  display: flex;
  flex-direction: row;
  background-color: #00a170;
}

/*
input {
  margin-bottom: .5em;
}

button {
  background-color: #cdfbe4;
  border: none;
  border-radius: .5rem;
  padding: .2rem;
  opacity: 1;
  transition: 0.3s;
  color: black;
}

button:hover {
  opacity: .5;
  cursor: pointer;
}

button:focus {
  opacity: .5;
}
*/

footer {
  padding: 1.5em;
  font-size: .8em;
  text-align: center;
  background-color: #111222;
  display: flex;
  flex-wrap: wrap;
}
