* {
  font-size: 1.1em;
  font-family: 'Courier New', monospace, serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

header {
  background-color: #111222;
  color: white;
  padding: .5em;
}

#tip {
  background-color: purple;
  padding: .5em;
  height: 5em;
  display:flex;
  align-items:center;
  align-content:space-around;
  justify-content:space-around;
  flex-wrap: wrap;
}

button {
  background-color: gold;
  border: none;
  border-radius: .5rem;
  padding: .2rem;
  opacity: 1;
  transition: 0.3s;
  color: black;
}

button:hover {
  opacity: .6;
  cursor: pointer;
}

button:focus {
  opacity: .6;
}
